<template>
  <v-dialog v-model="state.showDialog" width="auto">

    <v-card>
      <v-card-text>
        <v-skeleton-loader v-if="state.gameDetailIsLoading" :elevation="24" color="primary" type="article" style="width: 400px"></v-skeleton-loader>
        <div class="detailGrid"  v-if="!state.gameDetailIsLoading">
          <h3>LauchCode: {{state.currentGameDetail.launchCode}}</h3>
          <h3>RTP: {{state.currentGameDetail.rtp}}</h3>
          <h3>Provider: {{state.currentGameDetail.provider}}</h3>
          <img v-if="state.currentGameDetail?.hot" src="@/assets/hot.webp" style="float: left">
          <img v-if="state.currentGameDetail?.new" src="@/assets/new.webp" style="float:right;">
        </div>
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" @click="state.showDialog = false">Close Dialog</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <router-link to="/">Go to Home</router-link>
  <h1 class="text-center">These are the available games for you</h1>
  <CategorySelector :brand-id="state.brandId" @category-selected="(category)=>categorySelected(category)" />
  <div class="grid">
    <div  v-for="game in state.games" :key="game.id" class="card" @click="createDialog(game.launchCode)">
      <img v-lazy="'https://stage.whgstage.com/scontent/images/games/'+game.launchCode+'.jpg'">
      <h3>{{ game.name }}</h3>
    </div>
  </div>
</template>

<style>
  .grid{
    display: grid;
    grid-template-columns:   repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    margin: 2rem;
  }
  .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2rem;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
</style>

<script lang="ts" setup>
import CategorySelector from '@/components/CategorySelector.vue'
import {onMounted, reactive} from "vue";
import {useRoute} from "vue-router";
import axios from "axios";
import {BaseResponse} from "@/models/base-response";
import {Game} from "@/models/game";
import {DetailedGame} from "@/models/detailed-game";

type GameListingState = {
  brandId:  number;
  countryCode: string;
  category: null | string;
  games: Game[];
  showDialog: boolean;
  gameDetailIsLoading: boolean;
  currentGameDetail: null | DetailedGame;
}

const state: GameListingState = reactive({
  brandId: 0,
  countryCode: '',
  category: null,
  games: [],
  showDialog: false,
  gameDetailIsLoading: false,
  currentGameDetail: null
});

onMounted(() => {
  const route = useRoute()
  state.brandId =  parseInt(route.params.brandId as string);
  state.countryCode = route.params.countryCode as string;
  getGames(state.brandId, state.countryCode, state.category)
})

function getGames(brandId: number, countryCode: string, category: string | null){
  axios.get(`${import.meta.env.VITE_API_URL}/games/gamesByCountryAndBrand`, {params:
      {
        brand: brandId,
        countryCode: countryCode,
        category: category,
      }
  }).then((response: BaseResponse<Game[]>)=>{
    state.games = response.data
  })
}

function getGameDetail(brandId: number, launchCode: string){
  axios.get(`${import.meta.env.VITE_API_URL}/games/getGameDetails`, {params:
      {
        brand: brandId,
        launchCode: launchCode,
      }
  }).then((response: BaseResponse<DetailedGame>)=>{
    state.gameDetailIsLoading = false;
    state.currentGameDetail = response.data;
  })
}

function createDialog(launchCode: string){
  state.showDialog = true;
  state.gameDetailIsLoading = true;
  getGameDetail(state.brandId, launchCode)
}

function categorySelected(category: string){
  state.category = category;
  getGames(state.brandId, state.countryCode, state.category)
}


</script>
