<template>
  <h1 class="text-center">Please select your country and brand</h1>
  <CountrySelector @country-selected="(country)=>countrySelected(country)" />
  <BrandSelector @brand-selected="(brand)=>brandSelected(brand)" />
  <v-btn class="ma-auto d-block" :disabled="!homeState.selectedCountry || !homeState.selectedBrand" @click="navigateToGameListPage()">
    Show all the available games
  </v-btn>
</template>

<script lang="ts" setup>
  import CountrySelector from '@/components/CountrySelector.vue'
  import BrandSelector from '@/components/BrandSelector.vue'
  import {reactive} from "vue";
  import router from "@/router";

  type HomeState = {
    selectedCountry:null | string;
    selectedBrand:null | number;
  }

  const homeState:HomeState = reactive({
    selectedCountry: null,
    selectedBrand: null
  })

  function countrySelected(countryCode: string){
    homeState.selectedCountry = countryCode;
  }

  function brandSelected(brandId: number){
    homeState.selectedBrand = brandId;
  }

  function navigateToGameListPage(){
    router.push({ name: 'GameListing', params: { countryCode: homeState.selectedCountry, brandId: homeState.selectedBrand} })
  }
</script>
