<template>
  <v-select
    label="Select brand"
    :items="state.brands"
    item-title="brand"
    item-value="id"
    v-model="selectedBrand"
    @update:modelValue="brandChanged"
    class="w-25 ma-auto"
  ></v-select>
</template>

<script lang="ts" setup>
  import axios from 'axios'
  import {onMounted, reactive, ref} from 'vue'
  import {BaseResponse} from "@/models/base-response";
  import {Brand} from "@/models/brand";

  type BrandState = {
    brands:Brand[]
  }

  const selectedBrand = ref(null)
  const state: BrandState = reactive({
    brands: []
  });
  const emit = defineEmits(['brandSelected'])

  onMounted(() => {
   axios.get(`${import.meta.env.VITE_API_URL}/brand/all`).then((response: BaseResponse<Brand[]>)=>{
     state.brands = response.data
   })
  })

  function brandChanged(){
    emit('brandSelected', selectedBrand.value)
  }

</script>
