<template>
  <v-select
    label="Filter category"
    :items="state.categories"
    item-title="name"
    item-value="category"
    v-model="selectedCategory"
    @update:modelValue="categoryChanged"
    class="w-25 ma-auto"
  ></v-select>
</template>

<script lang="ts" setup>
import axios from 'axios'
import {reactive, ref, watch} from 'vue'
import {BaseResponse} from "@/models/base-response";
import {Category} from "@/models/category";

type CategoryState = {
  categories:Category[]
}

const props = defineProps<{
  brandId: number | null
}>()

const selectedCategory = ref(null)
const state: CategoryState = reactive({
  categories: []
});
const emit = defineEmits(['categorySelected'])

watch(() => props.brandId, () => {
  if(props.brandId){
    axios.get(`${import.meta.env.VITE_API_URL}/category/getByBrandId`, {params: {brandId: props.brandId}}).then((response: BaseResponse<Category[]>)=>{
      state.categories = response.data
    })
  }
});

function categoryChanged(){
  emit('categorySelected', selectedCategory.value)
}

</script>
