<template>
  <v-select
    label="Select country"
    :items="state.countries"
    item-title="country"
    item-value="code"
    v-model="selectedCountry"
    @update:modelValue="countryChanged"
    class="w-25 ma-auto"
  ></v-select>
</template>

<script lang="ts" setup>
  import axios from 'axios'
  import {onMounted, reactive, ref} from 'vue'
  import {BaseResponse} from "@/models/base-response";
  import {Country} from "@/models/country";

  type CountryState = {
    countries:Country[]
  }

  const selectedCountry = ref(null)
  const state: CountryState = reactive({
    countries: []
  });
  const emit = defineEmits(['countrySelected'])

  onMounted(() => {
   axios.get(`${import.meta.env.VITE_API_URL}/country/all`).then((response: BaseResponse<Country[]>)=>{
     state.countries = response.data
   })
  })

  function countryChanged(){
    emit('countrySelected', selectedCountry.value)
  }

</script>
