<template>
  <v-app-bar flat class="bg-primary">
    <v-app-bar-title>
      <img src="@/assets/white_hat.png" >
    </v-app-bar-title>
  </v-app-bar>
</template>

<style scoped>
  img{
    height: 50px;
  }
</style>

<script lang="ts" setup>
  //
</script>
